<div>
<ul class="more_list">
        <li>
          <%= link_to '納品済み記録編集', "/finishs/#{@finish.id}/edit", method: :get %>
        </li>
        <p><br></p>
        <p><br></p>
<!--        <li>
          <%= link_to '削除', "/finishs/#{@finish.id}", method: :delete, data: { confirm: "本当に削除しますか？" } %>-->
        </li>
      </ul>
    </div>