<div class="">
    <div class="">
      <h3>
        更新が完了しました。
      </h3>
      <a class="" href="/">現行一覧へ戻る</a>
      <a class="" href="/finishs">過去一覧へ戻る</a>
      <div><b>※納品済みの場合は現行一覧に戻り、該当データを削除してください</b></div>
    </div>
  </div>