// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title_font{
  font-family:"HiraMinProN-W6";
  font-size: 17px;

}

.table_design {
width:100%;
height:100%;
table-layout: fixed;
font-family:"HiraMinProN-W6";
border-collapse: separate;
border-spacing: 0px;
border-top: 1px solid #ccc;
border-left: 1px solid #ccc;
}

.table_design tr{
width: 100%;
height: 100px;
overflow: auto;
padding: 1px;
font-size: 14px;
table-layout: fixed;
text-align: left;
vertical-align: top;
color: #444;
background-color: #ccc;
border-top: 1px solid #fff;
border-left: 1px solid #fff;
border-right: 1px solid #ccc;
border-bottom: 1px solid #ccc;
}


.table_design th{
width: 100px;
height: 100px;
text-align: left;
vertical-align: top;
color: #444;
background-color: #E0F8E0;
border-top: 1px solid #fff;
border-left: 1px solid #fff;
border-right: 1px solid #ccc;
border-bottom: 1px solid #ccc;
}

table.rable_design td span{
height: 100px;
float:left;
max-height:100px;
overflow: auto;
display: block;
}

.table_design td{
width: 100%;
height: 100px;
overflow: auto;
table-layout: fixed;
background-color: #fafafa;
border-right: 1px solid #ccc;
border-bottom: 1px solid #ccc;
margin:0;
padding:0;

}


.product_find_form {
width: 100%;
padding: 1px;
font-size: 14px;
font-family:"HiraMinProN-W6";
text-align: left;


}

.list_view{
  width: 100px;
  height: 80px;
  float: left;
  overflow: auto;
}

.search__query{
font-size: 14px;
font-family:"HiraMinProN-W6";
padding-right:2em;
}

.btn-search{
filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
opacity:0.5;border:none;
background:none;
font-size:16px;
padding:.75em;
}

icon-search:before{
content:"\e60f"
}


.input{
  font-family:"HiraMinProN-W6";

}

.input_form{
width: 240px;
  font-size: 14px;
padding-right:2em;
text-align: left;
border:2px solid;
}

.input_form_red{
width: 240px;
  font-size: 14px;
  color: red;
padding-right:2em;
text-align: left;
border:2px red solid;
}

.link_to_page{
  width: 150px;
  height: 60px;
  text_align: left;
  float: left;

}


