<div>
<ul class="more_list">
        <li>
          <%= link_to '編集', "/products/#{@product.id}/edit", method: :get %>
        </li>
        <p><br></p>
        <p><br></p>
        <li>
          <%= link_to '削除', "/products/#{@product.id}", method: :delete, data: { confirm: "本当に削除しますか？" } %>
        </li>
      </ul>
    </div>