<div>
    <div>
<h3>
       <% if @product.errors.any? %>
  <div>
    <ul>
    <li>
    <% @product.errors.full_messages.each do |err| %>
    <%= err %>
    <% end %>
  </li>
      <% else %>
      <li>登録が完了しました</li>
    </ul>
  </div>
<% end %>
  </h3>
<h3>

<INPUT type="button" value="２：登録ページへ戻り修正する" onClick="history.back()">

      </h3>
      <h3>
      <a href="/">一覧へ戻る</a>
    </h3>
    </div>
  </div>
