<div>
    <div>


<h3>
      <ul>
      <li>
      <FORM>
<INPUT type="button" value="１：エラーを消す" onClick="">

</FORM>
  </li>
  <li>
        <FORM>
<INPUT type="button" value="２：登録ページへ戻り修正する" onClick="history.back()">
</FORM>
  </li>
  </ul>
      </h3>
      <h3>
      <a href="/">一覧へ戻る</a>
    </h3>
    </div>
  </div>
